<!DOCTYPE html>
<html lang="en" xmlns:http="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" type="text/css" href="public/stylesheets/style.css"/>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
</head>

<body ng-app = "loginApp"  style="background-color: #f5f8fa">


<div  ng-controller = "loginController">
    <div class = "container " style="margin-top: 100px">

        <div ng-repeat = "value in valdata">
            <div class = "panel panel-default">
                <div class="panel-body">{{ value.data}}</div>
            </div>
        </div>
    </div>

    <button style="margin-left: 50%" class="btn btn-info" type="button" value="Tweet" id="tweet" ng-click = "getTweets()" >Crime Tweets</button>
</div>
<script src = "./javascript/loginController.js"></script>
</body>
</html>